<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goal.coupon.mapper.CouponMapper">

    <resultMap id="BaseResultMap" type="com.goal.coupon.domain.po.Coupon">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="publish" column="publish" jdbcType="VARCHAR"/>
            <result property="couponImg" column="coupon_img" jdbcType="VARCHAR"/>
            <result property="couponTitle" column="coupon_title" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="userLimit" column="user_limit" jdbcType="INTEGER"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="publishCount" column="publish_count" jdbcType="INTEGER"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="conditionPrice" column="condition_price" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category,publish,
        coupon_img,coupon_title,price,
        user_limit,start_time,end_time,
        publish_count,stock,create_time,
        condition_price
    </sql>
    <update id="reduceStock">
        update shop_coupon.coupon
        set stock = stock - 1
        where stock > 0 and id = #{id}
    </update>

    <!-- 把时间想象为时间戳，越大越晚 -->
    <select id="getAvailableCouponById" resultType="com.goal.coupon.domain.po.Coupon">
        select id, category, publish, coupon_img, coupon_title, price, user_limit,
               start_time, end_time, publish_count, stock, create_time, condition_price
        from
            shop_coupon.coupon
        where id = #{id} and category = #{category}
          and stock > 0
          and publish = 'PUBLISH'
          and now() between start_time and end_time
    </select>
</mapper>
